# 外置开发环境配置
server:
  port: 5000

spring:
  # 数据源配置 - 使用新的MySQL端口
  datasource:
    username: "root"
    password: "root"
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3307/easy-jmeter?useSSL=false&serverTimezone=Asia/Shanghai&characterEncoding=UTF-8&allowPublicKeyRetrieval=true&useUnicode=true&autoReconnect=true&failOverReadOnly=false&maxReconnects=10
  # 启用数据库自动初始化
  sql:
    init:
      mode: always
      schema-locations: classpath:db/schema.sql
      data-locations: classpath:db/data.sql
  data:
    mongodb:
      database: easyJmeter
      host: localhost
      port: 27018
      username: root
      password: mongo2020
      authentication-database: admin
  influx:
    url: http://localhost:8087
    user: root
    password: root
    database: easyJmeter

# 开启权限拦截
auth:
  enabled: true

# 开启登录要求验证码
login-captcha:
  enabled: false
  secret: "m49CPM5ak@MDXTzbbT_ZEyMM3KBsBn!h"

# 开启http请求日志记录
request-log:
  enabled: true

logging:
  level:
    web: debug
    io.github.guojiaxing1995.easyJmeter.mapper: debug
    org.springframework.data.mongodb.core.MongoTemplate: DEBUG

minio:
  endpoint: http://localhost:9001
  bucketName: dev
  accessKey: root
  secretKey: minio2023

swagger:
  enable: true

socket:
  server:
    host: 0.0.0.0
    port: 9006
    enable: true
  client:
    serverUrl: http://127.0.0.1:9006
    enable: false

cron:
  heartBeat: "0 0/1 * * * ?"
  deleteTaskRecordStorage: "0 0 1 ? * MON"
  recordStatistics: "0 0/30 * * * ? "
  jmeterLogClear: "0 0 2 ? * *"